header {
  background-color: #416788;
  padding: 3rem;
}

.site-title, button, .header-date {
  font-family: 'Domine', serif;
}

.header-date {
  font-family: 'Arimo', sans-serif;
}

button {
  margin: 2rem;
  background-repeat:no-repeat;
  border: none;
  border-radius: 10px;
  background-color: #81D2C7;
  padding: 0.7rem;
}

.title, .byline {
  text-decoration: none;
  color: #000000
}

a {
  text-decoration: none;
}